.about_section {
	z-index: -10;
	background: linear-gradient(270deg, #4a4b3c98, #3837378c),
		url('../Assets/pizza4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 64px 40px;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	.about_container {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		height: 100vh;
		justify-content: center;
		align-items: center;
		padding: 64px 40px;
		position: fixed;
		top: 0;
		width: 100%;
		overflow: hidden;
		width: 100%;
		.about {
			text-align: center;
			font-family: cursive;
			color: #fff;
			backdrop-filter: blur(1px);
			border-radius: 40px;
			padding: 10px;
			background: #e6e6e659;
			min-width: 300px;
			width: 70%;
			font-variant: small-caps;
			font-size: 25px;
			font-weight: 900;

			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
		.title {
			display: flex;
			height: 300px;
			align-items: center;
			justify-content: center;
		}
	}
}
@media (max-width: 600px) {
	.about_section {
		.about_container {
			margin-top: 30px;
			.about {
				font-size: 22px;
				padding: 10px;
				border-radius: 20px;
			}
		}
	}
}
