.contact_section {
	z-index: -10;
	background: linear-gradient(270deg, #c1c76a69, #3837378c),
		url('../Assets/pizza2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 64px 40px;
	position: fixed;
	top: 0;
	width: 100%;

	form {
		display: flex;
		flex-direction: column;
		width: 100vw;
		align-items: center;
		.contact_email_input {
			width: 100%;
			max-width: 320px;
			padding: 10px;
			margin: 10px;
		}
		textarea {
			height: 200px;
		}
		button {
			border: none;
			border-radius: 10px;
			cursor: pointer;
			font-size: 18px;
			padding: 8px 15px;
			width: 200px;
			transition: all 0.2s ease-in-out;
			&:active {
				transform: translateY(4px);
			}
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
	.title {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.about_section {
		.about_container {
			margin-top: 30px;
		}
	}
}
