header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	width: 100%;

	nav {
		// box-shadow:inset 0px 1px 25px rgb(19, 18, 18);
		background: rgba(255, 255, 255, 0.363);
		backdrop-filter: blur(3px);
		margin: 10px 10px;
		padding: 7px 40px;
		border-radius: 20px;
		// height: 100%;
		width: 95%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		a {
			text-decoration: none;
			font-size: 22px;
			font-weight: 800;
			color: var(--textColor);
		}
		ul {
			display: flex;
			align-items: center;
			li {
				list-style: none;

				a {
					margin: 0 10px;
					color: var(--textColor);
					transition: all 0.1s ease-in;

					&:hover {
						color: rgb(245, 245, 245);
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	header {
		height: 16vh;
		nav {
			justify-content: center;
			padding: 7px 15px;
			a {
				text-decoration: none;
				margin: 0 10px;
				font-size: 18px;
				font-weight: 800;
				color: var(--textColor);
			}
		}
	}
}
