section {
	z-index: -10;
	background: linear-gradient(270deg, #c1c76a69, #3837378c),
		url('../Assets/pizza1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	gap: 16px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 64px 40px;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	.hero_section {
		text-align: center;
		font-family: cursive;
		color: var(--secondary);
		backdrop-filter: blur(6px);
		border-radius: 40px;
		padding: 10px;
		background: #d6d6d659;
		min-width: 300px;
		width: 70%;
		font-variant: small-caps;
		font-size: 55px;
		font-weight: 900;
		max-height: 500px;
		text-overflow: clip;
		overflow: hidden;
	}
}
@media (max-width: 600px) {
	section {
		.hero_section {
			font-size: 30px;
		}
	}
}
