.language {
	position: fixed;
	appearance: none;
	bottom: 10px;
	right: 20px;
	padding: 5px 10px;
	text-align: center;
	border: none;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.384);
	backdrop-filter: blur(5px);
	border-radius: 5px;
	outline: 0;
	font-weight: 700;
	transition: all 0.2s ease-in;
	&:hover {
		background-color: aqua;
		transform: translateY(-3px);
	}
	&:focus-within {
		background-color: aqua;
		transform: translateY(-3px);
	}
	option {
		cursor: pointer;
		outline: 0;
		border: none;
		border-radius: 10px;
		padding: 10px;
		background: var(--textColor);
		color: var(--secondaryTextColor);
		border-radius: 10px;
	}
}
