$primary: #dee481;
$secondary: #2e6443;
$textColor: #3d4345;
$secondaryTextColor: #efdcf0;

:root {
	--primary: #dee481;
	--secondary: #2e6443;
	--textColor: #3d4345;
	--secondaryTextColor: #efdcf0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
